/* 로그인 페이지 스타일 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 40px; /* 아래쪽 여백 추가 */
}

/* 로고 스타일 */
.logo {
  font-family: 'Inter', sans-serif;
  font-size: 3.2em;
  margin-bottom: 20px;
  color: #000080; /* 네이비 색상 */
  font-weight: 700; /* 글씨를 진하게 */
  text-align: center;
}

/* 로그인 박스 */
.login-box {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 100%;
  max-width: 600px; /* 최대 너비 설정 */
  text-align: center;
  margin: 0 auto;
}
.login-box h2 {
  font-weight: 700; /* 글씨를 진하게 */
  margin-bottom: 20px; /* 아래 여백 */
}

/* 입력 필드 및 레이블 */
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px; /* 입력 필드 최대 너비 */
}

.input-label {
  font-weight: 600;
  margin-right: 20px;
  width: 120px;
  text-align: left;
  color: black;
  padding-left: 35px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: calc(100% - 150px); /* 레이블을 제외한 공간 확보 */
  max-width: 350px; /* 모든 입력 필드의 최대 너비를 일정하게 */
  box-sizing: border-box;
  background: white;
}
/* 버튼 그룹 */
.button-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  max-width: 600px;
}

.join-btn,
.login-btn {
  width: 200px;
  height: 30px;
  background-color: #e3e3e3;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #black;
}

.join-btn:hover,
.login-btn:hover {
  background-color: #434343;
  color: white;
}

/* 홈 버튼 스타일 */
.home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000080;
}

.home-button:hover {
  color: #555;
}

/* 푸터 텍스트 */
.footer-text {
  margin-top: 40px;
  font-size: 0.8em;
  color: #555;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .login-box {
    padding: 20px;
    max-width: 90%;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group input {
    margin-top: 5px;
    width: 100%;
  }

  .button-group {
    flex-direction: column;
    align-items: stretch;
  }

  button {
    margin-bottom: 10px;
  }
}
